<p>
  <a href="{% url 'lib_logs:index' %}" >Головна сторінка</a> -
  <a href="{% url 'lib_logs:books' %}" >Книги </a> -
  {% if user.is_authenticated %}
      Hello, {{ user.username }}.
  {% else %}
      <a href="{% url 'users:login' %}" > Вхід</a> -
    {% endif %}
</p>

{% block content %} {%endblock content %}
