{% extends 'lib_logs/base.html' %}

{% block content %}
    <p><a href="{% url 'lib_logs:book' book.id %}">{{ book }} </a></p>

    <p> Редагування відгуку: </p>
    <form action="{% url 'lib_logs:edit_review' review.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" >Зберегти зміни </button>
    </form>
{% endblock content %}
