
<p>{% extends 'lib_logs\base.html' %}</p>
{% block content %}
 <p>Журнал відгуків дозволить робити нотатки та відгуки на прочитані книжки. Ви можете ділитись з друзями своїми рецензіями.</p>

{% endblock content %}