{% extends 'lib_logs/base.html' %}

{% block content %}

    <p> Додавання нової книги </p>
    <form action="{% url 'lib_logs:new_book' %}" method= 'post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Додати книгу </button>
    </form>
{% endblock %}
